/* Social Section */
.social-section {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  gap: 20px;
}

.social-heading {
  font-family: "Didot", Georgia, serif;
  font-size: 24px;
  color: #333;
}



.social-image {
  width: 30%;
  /* Image occupies 1/3 of the container */
  border-radius: 8px;
  object-fit: cover;
}

.textsection {
  /* flex: 1; */
  max-width: 600px;
  padding: 20px;
  color: #2c2c2c;
}

.locationheading {
  font-family: "Didot", Georgia, serif;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #2c2c2c;
}

.locationdescription {
  width: auto;
  /* Text occupies 2/3 of the container */
  text-align: left;
  /* margin-left: 10px; */
}

/* Map Section */
.map-section {
  margin: 20px 0;
}

.map-iframe {
  width: 100%;
  height: 350px;
  border: 0;
  border-radius: 8px;
}

/* Info Section */
.info-section {
  margin-top: 20px;
}

.info-columns {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.quick-links ul {
  list-style-type: none;
  padding: 0;
}

.quick-links li {
  margin: 5px 0;
}

.quick-links a {
  color: #007BFF;
  text-decoration: none;
}

.quick-links a:hover {
  text-decoration: underline;
}

.getting-here,
.hours {
  text-align: left;
}

h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

p {
  margin: 5px 0;
}

/* Vertical Divider */
.divider {
  width: 1px;
  height: 100%;
  background-color: #ddd;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .social-section {
    flex-direction: column;
    text-align: center;
    padding: 0px;
  }

  .textsection {
    max-width: 100%;
  }

  .social-image{
 
    display: none;
  }
 
  .locationdescription {
    width: auto;
    text-align: center;

  }
}